API_URL=http://localhost:8000
SOCKET_URL=http://localhost:8100
GOOGLE_CLIENT_ID=
COOKIE_ACCESS_TOKEN_EXP=900
COOKIE_REFRESH_TOKEN_EXP=2592000
DEBUG=0
SITE_URL=http://localhost:3000
LEGAL_EMAIL=
YANDEX_METRIKA_ID=
ANALYTICS_ENVIRONMENT=local
DEPLOYMENT_ENVIRONMENT=local
